<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h4>Year</h4>
    <% for (let i = 0; i < years.length; i+= 1) { %>
    <ul>
      <li>
        <% const year = years[i] %> <% const yearLink = `/year-sighting/${year}`
        %>
        <a href="<%= yearLink %>"> <%= year %> </a>
      </li>
    </ul>
    <% } %>
  </body>
</html>
